# student data
this notebook anlyizes pass/fail data for a class

In [59]:
data = [37,54,67,48,49,37,30,26,74,68,67,55,60,56,34,35,70,52,18,56,44,32]
print(data*2)

[37, 54, 67, 48, 49, 37, 30, 26, 74, 68, 67, 55, 60, 56, 34, 35, 70, 52, 18, 56, 44, 32, 37, 54, 67, 48, 49, 37, 30, 26, 74, 68, 67, 55, 60, 56, 34, 35, 70, 52, 18, 56, 44, 32]

In [60]:
import numpy as np 

grades = np.array(data)

print(grades*2)

[ 74 108 134  96  98  74  60  52 148 136 134 110 120 112  68  70 140 104
  36 112  88  64]

In [13]:
grades[5]

37

In [61]:
grades.mean()

48.59090909090909

In [62]:
Study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.5,10.0,12.0]

student_data = np.array([study_hours,grades])

In [27]:
student_data[1][0]

37.0

In [63]:
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print(f'avergae study hours: {avg_study:.2f} average grade: {avg_grade:.2f}')

avergae study hours: 10.43 average grade: 48.59

In [64]:


grades = [85.0, 95.0, 70.0, 98.0, 80.0, 49.0, 95.0, 70.0, 65.0, 90.0, 92.0, 85.0, 70.0, 65.0, 92.0, 65.0, 70.0, 55.0, 85.0, 90.0, 85.0, 88.0]

study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.5,10.0,12.0]

student_data = np.array([study_hours,grades])

ValueError: All arrays must be of the same length

In [5]:
import pandas as pd

# Create the df_students DataFrame
df_students = pd.DataFrame({'Name': ['Alice','Bob','Charlie','David',
                                              'Edith', 'josh', 'ann', 'mary', 
                                              'rhoda', 'philip', 'dan', 'emmy',
                                              'loveth','linda', 'andrew', 'samy',
                                              'lydia','peace', 'james', 'ola','costain', 'jane'], 
                                     'StudyHours':student_data[0], 
                                     'Grades':student_data[1]})

df_students

NameError: name 'student_data' is not defined

In [72]:
df_students.loc[5]

Name          josh
StudyHours     1.0
Grades        49.0
Name: 5, dtype: object

In [71]:
df_students[df_students['Name'] == 'josh']

   Name  StudyHours  Grades
5  josh         1.0    49.0

In [79]:
df_students.loc[5,'Name']

'josh'

In [73]:
df_students.query('Name == "josh"')

   Name  StudyHours  Grades
5  josh         1.0    49.0

In [76]:
df_students[df_students.Name=="josh"]

   Name  StudyHours  Grades
5  josh         1.0    49.0

In [ ]:
!wget https://github.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/blob/main/Data/ml-basics/grades.csv
df_students = pd.read_csv('grades.csv',delimiter = ',', header = 'infer')

In [3]:
df_students

NameError: name 'df_students' is not defined