In [ ]:
SELECT name FROM table_name;

## Introduction to data analysis